<div class="navbar">
    
    <div class="navbar-link">
        <label class="lbl">CONTROL PANEL  {{session["username"]}} </label>
        <ul>
            <li>
                  <a href="/mainpage_control">mainpage</a>
            </li>
            <li>
                <a href="/projectControl">project</a>
            </li>
            <li>
                <a href="/contactControl">contact</a>
            </li>
            <li>
                <a href="/controlPanelExit">exit</a>
            </li>
        </ul>
    </div>
</div> 